{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des Commissions</h1>

<ul>
    {% for commission in commissions %}
        <li>
            <!-- Utilisation de 'commission' plutôt que 'commissionId' -->
            <a href="{{ path('chat_show', {'commission': commission.id}) }}">
                Accéder au chat de la commission {{ commission.nom }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
