{# templates/utilisateur/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
<h1>Liste des Utilisateurs</h1>
<ul>
    {% for utilisateur in utilisateurs %}
        <li>{{ utilisateur.nom }} {{ utilisateur.prenom }}</li>
    {% endfor %}
</ul>
<a href="{{ path('utilisateur_create') }}" class="btn-trois btn-primary">Créer un nouvel utilisateur</a>
{% endblock %}
