{% extends 'base.html.twig' %}

{% block title %}List of Commissions{% endblock %}

{% block body %}
<h1>List of Commissions</h1>
<ul>
    {% for commission in commissions %}
        <li>{{ commission.name }}</li>
    {% endfor %}
</ul>
<a href="{{ path('commission_create') }}">Create a new commission</a>
{% endblock %}
