{# templates/commission/indexCommission.twig #}

{% extends 'base.html.twig' %}

{% block title %}Commission Management{% endblock %}

{% block body %}
    <h1>Commission Management</h1>

    <div>
        <a href="{{ path('commission_create') }}">
            <button>Create a Commission</button>
        </a>
    </div>

    <div>
        <a href="{{ path('commission_index') }}">
            <button>View All Commissions</button>
        </a>
    </div>
{% endblock %}
